<div class="mdl-card__title" id="viewHeading"></div>
<div>
    <div id="toolbar" class="mdl-toolbar-row">&nbsp;
        <a id="btnBack" href="#" onclick="window.location.reload();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Home</a>&nbsp;&nbsp;&nbsp;
        <a id="btnAdd" href="contactAdd" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Add</a>&nbsp;&nbsp;&nbsp;
        <a id="btnRefresh" href="#" onclick="window.location.reload();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Refresh</a>
    </div>
    <div class="mdl-grid">
    
        <p *ngIf="!Contacts"><em>Loading...</em></p>
    
        <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Contacts">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">ContactName</th>
                    <th class="mdl-data-table__cell--non-numeric">CompanyName</th>
                    <th class="mdl-data-table__cell--non-numeric">City</th>
                    <th class="mdl-data-table__cell--non-numeric">State</th>
                    <th class="mdl-data-table__cell--non-numeric">Phone</th>
                    <th class="mdl-data-table__cell--non-numeric">Email</th>
                    <th class="mdl-data-table__cell--non-numeric">Url</th>
                    <th class="mdl-data-table__cell--non-numeric">Edit</th>
                    <th class="mdl-data-table__cell--non-numeric">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Contact of Contacts">
                    <td><a [title]="'edit'" (click)="edit(Contact)"><span class="badge">{{ Contact.ContactName }}</span></a></td>
                    <td>{{ Contact.CompanyName }}</td>
                    <td>{{ Contact.City }}</td>
                    <td>{{ Contact.State }}</td>
                    <td>{{ Contact.WorkPhone }}</td>
                    <td>{{ Contact.Email }}</td>
                    <td>{{ Contact.CompanyUrl }}</td>
                    <td><a [title]="'edit'" href="contactEdit?action=edit&id={{Contact.ContactID}}">{{Contact.ContactID}}</a></td>
                    <td><a [title]="'delete'" href="delete.html?action=delete&shape=Contact&id={{Contact.ContactID}}">X</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>