<div class="mdl-grid portfolio-max-width" *ngIf="Job">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title" id="viewHeading">
            <h1>Edit Job:</h1>
            <h2 class="mdl-card__title-text">{{displayMessage}}</h2>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <br />
            <select id="Titles">
                <option value="">Select</option>
            </select>
            <label class="mdl-textfield__label FieldLabel" for="Titles">Title:</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <br />
            <select id="Citys">
                <option value="">-- select --</option>        
                <option *ngFor="let c of Citys" [ngValue]="c">{{c}}</option>
            </select>
        <label class="mdl-textfield__label FieldLabel" for="Cities">City:</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <br />
            <select id="States" [(ngModel)]="State" >
                <option value="">-- select --</option>        
                <option *ngFor="let s of States" [ngValue]="s.StateNo">{{s.Name}}</option>
            </select>
            <label class="mdl-textfield__label FieldLabel" for="States">State:</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <br />
            <input class="mdl-textfield__input" type="text" id="Duration">
            <label class="mdl-textfield__label FieldLabel" for="Duration">Duration:</label>
            <span class="mdl-textfield__error">Required!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <br />
            <input class="mdl-textfield__input" type="text" id="Source">
            <label class="mdl-textfield__label FieldLabel" for="Source">Source:</label>
            <span class="mdl-textfield__error">Required!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <br />
            <input class="mdl-textfield__input" type="text" id="Description" >
            <label class="mdl-textfield__label FieldLabel" for="Description">Description:</label>
            <span class="mdl-textfield__error">Required!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <br />
            <select id="Companies">
                <option value="">Select</option>
            </select>
            <label class="mdl-textfield__label FieldLabel" for="Companies">Company:</label>
        </div>
        <br />
        <div id="toolbar" class="mdl-toolbar-row">
            <button id="btnSave" (click)="edit()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Save</button>&nbsp;&nbsp;&nbsp;
            <a id="btnCancel" href="job" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Cancel</a>
        </div>
        <div id="results"></div>
    </div>
</div>
