<div class="mdl-grid portfolio-max-width" *ngIf="Project">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title" id="viewHeading">
            <h1>Edit Project:</h1>
            <h2 class="mdl-card__title-text">{{displayMessage}}</h2>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <br />
            <input class="mdl-textfield__input" type="text" id="Name" [(ngModel)]="Project.Name" >
            <label class="mdl-textfield__label FieldLabel" for="Name">Name:</label>
            <span class="mdl-textfield__error">Required!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <br />
            <input class="mdl-textfield__input" type="text" id="Description" [(ngModel)]="Project.Description" >
            <label class="mdl-textfield__label FieldLabel" for="Description">Description:</label>
            <span class="mdl-textfield__error">Required!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <br />
            <input class="mdl-textfield__input" type="text" id="Budget" [(ngModel)]="Project.Budget" >
            <label class="mdl-textfield__label FieldLabel" for="Budget">Budget:</label>
            <span class="mdl-textfield__error">Required!</span>
        </div>
        <br />
        <div id="toolbar" class="mdl-toolbar-row">
            <button id="btnSave" (click)="edit()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Save</button>&nbsp;&nbsp;&nbsp;
            <a id="btnCancel" href="project" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Cancel</a>
        </div>
        <div id="results"></div>
    </div>
</div>
